In [1]:
import gzip
import json
import pandas as pd

In [3]:
data = pd.read_csv('../../Data/Amazon/meta_books.csv')

/var/folders/kn/5p9n18rd2r58j5lzlvq6zh040000gn/T/ipykernel_36731/3375004999.py:1: DtypeWarning: Columns (2,4,13,14,19) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv('../../Data/Amazon/meta_books.csv')

In [4]:
data.head()

,Unnamed: 0,category,tech1,description,fit,title,also_buy,tech2,brand,feature,rank,also_view,main_cat,similar_item,date,price,asin,imageURL,imageURLHighRes,details
0,0,[],NaN,['It is a biology book with God&apos;s perspec...,NaN,Biology Gods Living Creation Third Edition 10 ...,"['0669009075', 'B000K2P5SA', 'B00MD4G2N0', 'B0...",NaN,Keith Graham,[],"1,349,781 in Books (","['0019777701', 'B000AUCX7I', 'B000K2P5SA', 'B0...",Books,NaN,NaN,$39.94,0000092878,[],[],NaN
1,1,"['Books', 'New, Used & Rental Textbooks', 'Med...",NaN,[],NaN,Mksap 16 Audio Companion: Medical Knowledge Se...,[],NaN,Acp,[],"1,702,625 in Books (","['B01MUCYEV7', 'B01KUGTY6O']",Books,NaN,NaN,NaN,000047715X,[],[],NaN
2,2,"['Books', 'Arts & Photography', 'Music']",NaN,"['Discography of American Punk, Hardcore, and ...",NaN,"Flex! Discography of North American Punk, Hard...",[],NaN,Burkhard Jarisch,[],"6,291,012 in Books (",[],Books,NaN,NaN,$199.99,0000004545,[],[],NaN
3,3,"['Books', 'Arts & Photography', 'Music']",NaN,['This is a collection of classic gospel hymns...,NaN,Heavenly Highway Hymns: Shaped-Note Hymnal,[],NaN,Stamps/Baxter,[],"2,384,057 in Books (","['0006180116', '0996092730', 'B000QFOGY0', 'B0...",Books,NaN,NaN,NaN,0000013765,[],[],NaN
4,4,[],NaN,[],NaN,Georgina Goodman Nelson Womens Size 8.5 Purple...,[],NaN,NaN,[],"11,735,726 in Books (",[],Books,NaN,NaN,$164.10,0000000116,[],[],NaN

In [32]:
import numpy as np
# np.unique(data["category"])

False

In [48]:
not data["asin"][data["asin"].isin(['0019777701'])].empty

False

In [36]:
str("000047715X") in data["asin"]

False

In [31]:
data["asin"][1]

'000047715X'

In [29]:
data["asin"]

0          0000092878
1          000047715X
2          0000004545
3          0000013765
4          0000000116
              ...
2934944    B01HJBPTUI
2934945    B01HJC63ZM
2934946    B01HJEB422
2934947    B01HJDS76Y
2934948    B01HJFHYMA
Name: asin, Length: 2934949, dtype: object

In [12]:
data["category"][18]

"['Books', 'Literature & Fiction', 'Contemporary']"

In [14]:
data.columns

Index(['Unnamed: 0', 'category', 'tech1', 'description', 'fit', 'title',
       'also_buy', 'tech2', 'brand', 'feature', 'rank', 'also_view',
       'main_cat', 'similar_item', 'date', 'price', 'asin', 'imageURL',
       'imageURLHighRes', 'details'],
      dtype='object')

In [56]:
d = dict(zip(data["asin"], data["also_buy"]))

In [57]:
df = pd.DataFrame.from_dict(d, orient='index')

In [63]:
df.rename(columns = {0:'also_buy'}, inplace = True)

In [68]:
df1 = df.reset_index()

In [69]:
df1

              index                                           also_buy
0        0000092878  ['0669009075', 'B000K2P5SA', 'B00MD4G2N0', 'B0...
1        000047715X                                                 []
2        0000004545                                                 []
3        0000013765                                                 []
4        0000000116                                                 []
...             ...                                                ...
2930019  B01HJBPTUI                                     ['B01CRJ3J1I']
2930020  B01HJC63ZM  ['B01CWFQJKU', 'B01G7W20HA', 'B01CXJDC0U', 'B0...
2930021  B01HJEB422                                                 []
2930022  B01HJDS76Y  ['B06XP26WK7', 'B0797Y6JH6', 'B01M72TG0D', 'B0...
2930023  B01HJFHYMA                                                 []

[2930024 rows x 2 columns]

In [71]:
df1.explode("also_buy")

              index                                           also_buy
0        0000092878  ['0669009075', 'B000K2P5SA', 'B00MD4G2N0', 'B0...
1        000047715X                                                 []
2        0000004545                                                 []
3        0000013765                                                 []
4        0000000116                                                 []
...             ...                                                ...
2930019  B01HJBPTUI                                     ['B01CRJ3J1I']
2930020  B01HJC63ZM  ['B01CWFQJKU', 'B01G7W20HA', 'B01CXJDC0U', 'B0...
2930021  B01HJEB422                                                 []
2930022  B01HJDS76Y  ['B06XP26WK7', 'B0797Y6JH6', 'B01M72TG0D', 'B0...
2930023  B01HJFHYMA                                                 []

[2930024 rows x 2 columns]

In [ ]:
df = pd.crosstab(df.actual, df.predicted)