In [54]:
import pandas as pd
import numpy as np
import re

In [55]:
df_amazon = pd.read_csv('../../Data/Amazon/meta_books.csv')

/var/folders/kn/5p9n18rd2r58j5lzlvq6zh040000gn/T/ipykernel_49263/3028155683.py:1: DtypeWarning: Columns (2,4,13,14,19) have mixed types. Specify dtype option on import or set low_memory=False.
  df_amazon = pd.read_csv('../../Data/Amazon/meta_books.csv')

In [117]:
df_merged = pd.read_csv('../../Data/final_dataset.csv')

In [118]:
df_merged.tail()

,Index,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Genre,description,also_buy,Rank,also_view,Price,asin,match_value
6278,17449,880449509X,Sola Come Un Gambo Di Sedano,Luciana Littizzetto,2001,Mondadori (IT),Biographies & Memoirs,['Una donna tragicamente e comicamente contemp...,[],"1,24,90,621",[],7.72,880449509X,100
6279,17467,8817125539,An Italian in America,Beppe Severgnini,2001,St Martins Pr,Literature & Fiction,"['""The discovery of America - which is as comp...",[],"13,24,923","['0767912365', '0767914406']",NaN,8817125539,100
6280,17485,950491036X,La Sombra del Viento,Carlos Ruiz Zafon,2003,Planeta,Literature & Fiction,['Rare book'],[],"11,87,273",['0307472590'],NaN,8408105884,100
6281,17489,9681500954,Lobo estepario,Hermann Hesse,1998,"Editorial Diana, S.A.",Reference,"['', '']",[],"96,42,244",[],NaN,9686769560,100
6282,17494,B00009EF82,Hannibal,Thomas Harris,1999,Delacorte Press,Literature & Fiction,"['in12. broch.', '', '']","['0425228223', '0312195265', '0099532956', '04...","61,55,703","['0425228223', '0312924585', '044024286X', '95...",39.40,99297701,100

## Data Cleaning

In [119]:
df_merged['Book-Title'] = df_merged['Book-Title'].apply(lambda x: re.sub(r'[^\w\s]', '', x))
df_merged['Book-Title'] = df_merged['Book-Title'].apply(lambda x: re.sub(' +', ' ', x))
df_merged['description'] = df_merged['description'].apply(lambda x: re.sub(' +', ' ', x))
df_merged['description'] = df_merged['description'].apply(lambda x: re.sub(r'[^\w\s]', '', x))
df_merged['Rank'] = df_merged['Rank'].apply(lambda x: re.sub(r'[^\w\s]', '', x))
df_merged['also_buy'] = df_merged['also_buy'].apply(lambda x: re.sub(r'[^\w\s]', '', x))
df_merged['also_view'] = df_merged['also_view'].apply(lambda x: re.sub(r'[^\w\s]', '', x))

In [120]:
df_merged['also_view'] = df_merged['also_view'].apply(lambda x: x.split(' '))
df_merged['also_buy'] = df_merged['also_buy'].apply(lambda x: x.split(' '))

In [121]:
df_merged['Rank'] = pd.to_numeric(df_merged['Rank'])

In [122]:
df_merged.head()

,Index,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Genre,description,also_buy,Rank,also_view,Price,asin,match_value
0,2,2255081,Spadework,Timothy Findley,2001,HarperFlamingo Canada,Literature & Fiction,Timothy Findley was one of Canada8217s most co...,[],19083696,"[0440550017, 057120905X, 0060929375]",120.00,2255081,100
1,9,6485936,Dust,Arthur G. Slade,2001,HarperCollins Publishers,Children's Books,Grade 69In a bonedry summer during the Great D...,[],17966363,"[0544838262, B0719LDQR1]",26.63,6485944,100
2,12,6512062,Trials of Tiffany Trott,Isabel Wolff,1998,Harper Collins Publishers,Literature & Fiction,Tiffany Trott is 37 attractive successful and ...,"[000717828X, 0007118619, 0007455062, 150394050...",5690620,[],67.39,6512062,100
3,21,6551971,Swimmer,Bill Broady,2003,Trafalgar Square,Literature & Fiction,,[],17945557,[],30.39,6551971,100
4,24,7110928,Billy,Pamela Stephenson,2002,HarperCollins Entertainment,Biographies & Memoirs,The inside story of the one of the most succes...,[B00000IQC6],3029755,"[B00006JMQR, 075531283X, 1847445217, B00783NWA...",18.20,7110928,100

In [123]:
df_merged = df_merged.drop_duplicates(['Book-Title','Book-Author'])

In [124]:
df_merged.drop(['Index', 'match_value'], axis=1, inplace=True)

In [125]:
df_merged.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5437 entries, 0 to 6281
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ISBN                 5437 non-null   object
 1   Book-Title           5437 non-null   object
 2   Book-Author          5437 non-null   object
 3   Year-Of-Publication  5437 non-null   int64
 4   Publisher            5437 non-null   object
 5   Genre                5437 non-null   object
 6   description          5437 non-null   object
 7   also_buy             5437 non-null   object
 8   Rank                 5437 non-null   int64
 9   also_view            5437 non-null   object
 10  Price                4133 non-null   float64
 11  asin                 5437 non-null   object
dtypes: float64(1), int64(2), object(9)
memory usage: 552.2+ KB

In [126]:
df_merged.reset_index(drop=True, inplace=True)

In [127]:
df_merged.to_csv('../../Data/cleaned_dataset_rachit.csv')

## Description Analytics

In [128]:
#Import TfIdfVectorizer from scikit-learn
from sklearn.feature_extraction.text import TfidfVectorizer

#Define a TF-IDF Vectorizer Object. Remove all english stop words such as 'the', 'a'
tfidf = TfidfVectorizer(stop_words='english')

#Replace NaN with an empty string
df_merged['description'] = df_merged['description'].fillna('')

#Construct the required TF-IDF matrix by fitting and transforming the data
tfidf_matrix = tfidf.fit_transform(df_merged['description'])

#Output the shape of tfidf_matrix
tfidf_matrix.shape

(5437, 71282)

In [129]:
tfidf_matrix

<5437x71282 sparse matrix of type '<class 'numpy.float64'>'
	with 509518 stored elements in Compressed Sparse Row format>

In [130]:
# Import linear_kernel
from sklearn.metrics.pairwise import linear_kernel

# Compute the cosine similarity matrix
cosine_sim = linear_kernel(tfidf_matrix, tfidf_matrix)

In [131]:
indices = pd.Series(df_merged.index, index = df_merged['Book-Title']).drop_duplicates()

In [132]:
# Function that takes in movie title as input and outputs most similar movies
def get_recommendations(title, cosine_sim=cosine_sim):
    # Get the index of the movie that matches the title
    idx = indices[title]

    # Get the pairwsie similarity scores of all movies with that movie
    sim_scores = list(enumerate(cosine_sim[idx]))

    # Sort the movies based on the similarity scores
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)

    # Get the scores of the 10 most similar movies
    sim_scores = sim_scores[1:11]

    # Get the book indices
    book_indices = [i[0] for i in sim_scores]

    # Return the top 10 most similar movies
    return df_merged['Book-Title'].iloc[book_indices]

In [133]:
get_recommendations('Spadework')

2012                        Blow Fly A Scarpetta Novel
610     Bridesmaids Revisited An Ellie Haskell Mystery
517                                             Stones
843                                    House of Dreams
179                  Everything Is Illuminated A Novel
5041                                     Cyanide Wells
5227                                     Storm Warning
3236                                           Haunted
5215                                           Haunted
1426                                        Love Story
Name: Book-Title, dtype: object

In [134]:
df_merged.shape

(5437, 12)